.ale {
  width: 100%;
  background: #fff;
  position: relative;
  max-width: 750px;
  vertical-align: middle;
  border-radius: $border-radius;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  margin-bottom: 1rem;
  .ale-text {
    margin-left: 2rem;
  }
  .ale-btn {
    float: right;
    margin-right: 1rem;
    cursor: pointer;
  }
  .ale-message {
    margin-left: 2rem;
  }
}

.ale-close {
  display: none;
}

.ale-success,
.no-btn-ale-success {
  @include alter-style($success, $success, $white);
}

.ale-info {
  @include alter-style($info, $info, $white);
}

.ale-danger {
  @include alter-style($danger, $danger, $white);
}

.ale-warning {
  @include alter-style($warning, $warning, $white);
}
